<div class="container">
<div class="row justify-content-center">
    <h1><b>{{title}}</b></h1>
</div>
</div>

{{StudentInfo.value|json}}

<div class="container">
    <div class="row justify-content-center">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control col-md-6" formControlName="firstname">
        <div class="col-md-6">
        <div class="alert alert-danger" *ngIf="StudentInfo.controls['name'].hasError('required') && StudentInfo.controls['name'].touched">
        </div>

    </div>
</div>