<div class="container">
    <!-- {{BC.value|json}} -->
<form>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
        <h1 style="text-align: center;">View All Nearest Bookings</h1>

        <table class="table table-striped">
            <thead>
                <tr *ngIf= BCBooking>
                  <th>Id</th>
                  <th>Car type</th>
                  <th>Service Type</th>
                  <th>Budget</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of BCBooking">
                <td>{{ s.Id }}</td>
                <td>{{ s.CarType }}</td>
                <td>{{ s.ServiceType }}</td>
                <td>{{ s.Budget }}</td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-info" (click)="BookingUser(BC.value)">User Information</button>
    </div>
</div>
    <div class="col-md-3"></div>
</div>
</form>
</div>