<!-- <naukri-comp></naukri-comp>  -->

<!-- <form-comp></form-comp> -->
<!-- <react-comp></react-comp> -->
<!-- <reactive-comp></reactive-comp> -->
<!-- <car-app></car-app> -->
<!-- <pipe-app></pipe-app> -->
<!-- <app-student></app-student> -->
<!-- <user-comp></user-comp> -->
<!-- <home-app></home-app>-->

<!-- <about-app></about-app> 
<weare-app></weare-app>
 <training-app></training-app>
<contact-app></contact-app> -->

<!-- <career-comp></career-comp>
<login-comp></login-comp>-->

<!-- **************************
<login-comp></login-comp>
<signup-comp></signup-comp>
<button-comp></button-comp>
<servicelogin-comp></servicelogin-comp>
<dash-comp></dash-comp>
************************* -->
<booking-comp></booking-comp>
<edit-comp></edit-comp>
<changepwd-comp></changepwd-comp>
<front-comp></front-comp>






