<div class="row">
    <div class=col-md-3>
        <img src="../../assets/Images/untitled.png" width="150" height="75">
    </div>
    <br>
<div class="col-md-5">
    <br>
<input class="form-control col-md-10" type="text" placeholder="Search for Products, brands and more" aria-label="Search">
</div>
<div class="col-md-4">
        <br> <div class="form-group">
    <a href="#">Login & SignUp</a>
</div>
    <div class="form-group">
    <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">More
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Notification Preference</a></li>
              <li><a href="#">Sale on Flipkart</a></li>
              <li><a href="#">24x7 Customer Service</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Download App</a></li>
            </ul>
          </div> 
          </div>
          <div class="form-group">
          <a href="#">Cart</a>
        </div>
        </div>

</div>

