<div class="container">
    <div class="col-md-6">
    </div>
    <div class="row">
    <div class="col-md-6">
        <h2 class="threeD">Get to know us better..</h2><br><br><br>
        <h5 style="text-align: justify">Assimilate Technologies was founded by technophile with the objective of developing customer business centric software. The focus is to integrate technologies for building rich “User Experience” software and Products. </h5><br>
        <h6 style="text-align: justify">We truly care about our users and our product. Webster conseqt quibusdam, enim expedita sed quia nesciunt. Vero quod conseqt quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus</h6>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"> &#9830; We deliver with First Time Right solutions.</p>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"> &#9830; Choose the Right Technology / architecture for your product whether web or desktop based.</p>
        </div>
        <div class="col-md-6">
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">&#9830; Super Fast Customer support
            </p>
            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">&#9830; Scale up the delivery with very less time to market for product development.

        </div>
    </div>
</div>
<div class="col-md-6"><br>
    <img src="./assets/Images/web-developer.jpg" width="550" height="420">
</div>
</div>
   <br>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3"><br>
                    <i class="material-icons" style="font-size:48px">&#xe30b;</i>
            </div>
            <div class="col-md-9">
                <h5><b>Our Vision</b></h5>
                <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">To comfort the business growth of our prospective digital partners with our surplus technical proficiency.</p>
            </div>
        </div>
    </div>

        <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <br>
                        <i class="fa fa-database" style="font-size:48px"></i>
                    </div>
                    <div class="col-md-9">
                        <h5><b>Our Mission</b></h5>
                        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">To assimilate your business innovations with our grand expertise in digital Intelligence</p>
                    </div>
                </div>
    </div>

    <div class="col-md-4">
            <div class="row">
                <div class="col-md-3"><br>
                        <i class="fa fa-heart-o" style="font-size:48px"></i>
                </div>
                <div class="col-md-9">
                    <h5><b>We Love</b></h5>
                    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">To apply greatest technology solutions for our customers business solutions.</p>
                </div>
            </div>

</div>
</div>
<br><div class="jumbotron">
<div class="row">
    <div class="col-md-6">
<header>01. CAPABILITIES</header><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
<p style="font-family: Arial, Helvetica, sans-serif">We have the capability to develop a website to enterprise web applications. We use commercial and open source technologies for our web developments. We do analyse, design, develop, testing and maintaining the web applications in a professional way to increase the business for our clients. </p>
</div>
</div>

<header>02. Mission</header><br>
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
    <p style="font-family: Arial, Helvetica, sans-serif">To assimilate your business innovations with our grand expertise in digital Intelligence.</p>
    </div>
    </div>
    <header>03. Values</header><br>
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
    <p style="font-family: Arial, Helvetica, sans-serif">We belive in ORCHID </p>
    <i class="fa fa-hand-o-right" style="color: gray"> O- Opportunity</i><br>
    <i class="fa fa-hand-o-right" style="color: gray"> R - Respect</i><br>
    <i class="fa fa-hand-o-right" style="color: gray"> C - Clear Communication and Commitments </i><br>
    <i class="fa fa-hand-o-right" style="color: gray"> H - Honesty</i><br>
    <i class="fa fa-hand-o-right" style="color: gray"> I - Innovative Minds</i><br>
    <i class="fa fa-hand-o-right" style="color: gray"> D - Delivering Quality</i><br>

</div>
    </div>

</div>
    <div class="col-md-6">
           <h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><u>  Our Activities And Skills</u></h3>
           <br>
           <ul>
           <li><h5 style="font-family: 'Courier New', Courier, monospace">Javascript/jQuery</h5></li>
           <hr style="border-color: #660000;">
           <li><h5 style="font-family: 'Courier New', Courier, monospace">Angular</h5></li>
           <hr style="border-color: #660000;">
           <li><h5 style="font-family: 'Courier New', Courier, monospace">ReactJS/React-NativeJS</h5></li>
           <hr style="border-color: #660000;">
           <li><h5 style="font-family: 'Courier New', Courier, monospace">Rest API</h5></li>
           <hr style="border-color: #660000;">
           <li><h5 style="font-family: 'Courier New', Courier, monospace">.Net/.Net Core Technologies</h5></li>
           <hr style="border-color: #660000;">
           <li><h5 style="font-family: 'Courier New', Courier, monospace">Java Technologies</h5></li>
           <hr style="border-color: #660000;">
           <li><h5 style="font-family: 'Courier New', Courier, monospace">AI, MAchine Learning and Iot</h5></li>
           <hr style="border-color: #660000;">
           <li><h5 style="font-family: 'Courier New', Courier, monospace">Big Data and Data Science</h5></li>
           <hr style="border-color: #660000;">
        </ul>
    </div>
</div>
</div>

</div>