<div class="container">
    <div class="row">
        <img src="./assets/Images/Website.jpg" width="11100" height="450">
    </div>

    <br><br><br>
    <h3 style="text-align: center;"><b><u>Holistic approach to problem solving</u></b></h3><br>
</div>

<div class="container">
    <div class="jumbotron">
<div class="row" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
    <div class="row">
    <div class="col-md-3">
        <h6 style="text-align:center;"><b><u>Digital Culture</u></b></h6>
        <br>
        <p style="text-align:center;">Digital innovation is in our DNA with our core values ORCHID and Making
            partner busniess successful. </p>
    </div>

    <div class="col-md-3">
        <h6 style="text-align:center;"><b><u>Fast Customer Support</u></b></h6>
        <br>
        <p style="text-align:center;">Fast customer service is crucial for customer satisfaction. We belive in
            customer satisfactions with our express services. </p>
    </div>

    <div class="col-md-3">
        <h6 style="text-align:center;"><b><u>Our Patners</u></b></h6>
        <br>
        <p style="text-align:center;">We work with companies on the vanguard of technology to drive your
            business forward. </p>
    </div>

    <div class="col-md-3">
        <h6 style="text-align:center;"><b><u>Our Skill Development</u></b></h6>
        <br>
        <p style="text-align:center;">We support continues lifelong learning around the world, preparing people
            to make the most of the technology that can forge our shared future. </p>

    </div>
    </div>
</div>
</div>
</div>

<br>
<h2 style="text-align: center"><b><u>Our Expertise</u></b></h2>
<br>
<div class="row">
    <div class="col-md-4">
        <img src="./assets/Images/untitled.png" width="380" height="260" style="text-align: center"><br><br>
        <h5 style="text-align: center">DIGITAL THINKING</h5>
        <h6 style="text-align: center">WE LOOK AT USUAL THINGS EITH UNUSUAL EYES</h6>
    </div>
    <div class="col-md-4">
        <img src="./assets/Images/Digital-Transformation2.gif" width="400" height="260" style="text-align: center"><br><br>
        <h5 style="text-align: center">DIGITAL TRANSFORMATION</h5>
        <h6 style="text-align: center">WE CHANGE YOUR VISION</h6>
    </div>
    <div class="col-md-4">
        <img src="./assets/Images/PDpng.png" width="380" height="260" style="text-align: center"><br><br>
        <h5 style="text-align: center">DIGITAL PRODUCT DEVELOPMENT</h5>
        <h6 style="text-align: center">LETS SUCCESS TOGETHER</h6>
    </div>
</div>
<br>