<h1 style="color: red"><b>Popular Course</b></h1>
<br><br>
<div class="container">
    <div class="row">     
        <div class="col-md-3">
            <figure>
            <img src="./assets/Images/26angular.png" width="150" height="150">
            <figcaption>Angular 6</figcaption>
        </figure>
        </div>
        <div class="col-md-3">
                <figure>
                <img src="./assets/Images/48mvc.png" width="150" height="150">
                <figcaption>MVC.Net</figcaption>
            </figure>
            </div>
    </div>
</div>